.main{
    display: block; 
    width: 100%;
}

.header{
    height: 100px; 
    background-color: red;
}

.main-central{
    height: 500px;
    display: flex;
}

.central-menu{
    width: 20%; 
    background-color: white; 
    height: 500px;
}

.central-main{
    width: 80%; 
    background-color: yellow; 
    height: 500px;
}

.footer{
    height: 100px; 
    background-color: blue;
}

